*{
  margin:0;
  padding:0;
}

.centerImgs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height:400px;
}

h1 {
  text-align: center;
  color: aliceblue;
}

h2{
  text-align: center;
  color:blanchedalmond;
}

.body{
  background-color: black;
}

.ugly-meme[type="text"]{
  display: block;
  margin : 0 auto;
}

.post-button{
  margin: 0;
  position: absolute;
  top: 18%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:5%;
}

.editSaveButton{
  margin: 0;
  position: absolute;
  top: 220%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:5%;
}

.delete{
  margin: 0;
  position: absolute;
  top: 226%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:5%;
}

.bodyeditInput{
  background-color: black;
}